#header-container {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 0;
    left: 0;

    /* background-color: rgba(0, 0, 0, 0.1); */
    width: 100%;
    height: 50px;
}

.header-item {
    padding: 20px 30px;
    position: relative;
}

#header-container .header-item a {
    color: inherit;
    text-decoration: none;
    transition: all 1s;
}

#header-container .header-item a:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transition: all 1s;
}

.header-item a ~ .link-highlight {
    margin-top: 3px;
    width: 0%;
    height: 1px;
    margin-left: 50%;

    background-color: var(--font-color);
    transition: all 1s;
}

.header-item a:hover ~ .link-highlight {
    width: 100%;
    margin-left: 0%;
    transition: all 0.65s;
}
 
